pipeline/ChildPipeline.json
{
	"name": "ChildPipeline",
	"properties": {
		"activities": [
			{
				"name": "GM_ChildPipeLine",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_spgblob",
						"type": "DatasetReference",
						"parameters": {
							"foldernameDS": {
								"value": "@pipeline().parameters.folderName",
								"type": "Expression"
							},
							"Container": {
								"value": "@pipeline().parameters.ContainerName",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems",
						"lastModified"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GM_ChildPipeLine",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GM_ChildPipeLine').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			}
		],
		"parameters": {
			"ContainerName": {
				"type": "string"
			},
			"FolderName": {
				"type": "string"
			}
		},
		"annotations": []
	}
}